@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 24 24 27;
}

html.dark {
  --bg: 9 9 11;
  --fg: 244 244 245;
}

body {
  background: rgb(var(--bg));
  color: rgb(var(--fg));
}

body {
  outline: 6px solid red !important;
}